.card {
  -webkit-perspective: 1000;
}

#card-container{
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out;
  display: inline-block;
}

.flip-before{
}

.flip-after{
  transform: rotateY(180deg);
}

.card-item{
  text-align: center;
  -webkit-backface-visibility: hidden;
  background-color: gold;
  /* -webkit-transition: all 0.4s ease-in-out; */
  /* transform-origin: 50%; */
}

/* .card:hover .card-front {
  z-index: 1;
}
.card:hover .card-back {
  z-index: 2;
} */

.card-front{
  position: relative;
}

.card-back{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: rotateY(180deg);
}

.card-text
{
  font-size: 5em;
}
